[Desktop Entry]
Type=Application
Name=Ventoy GUI
GenericName=USB Flasher
Comment=Multi-ISO bootable-USB creator
Icon=net.ventoy.VentoyGUI
Categories=System
Keywords="USB;Flash;Drive;Ventoy"
Terminal=false
Exec=ventoy-gtk3.sh
