
ACTION=="add", SUBSYSTEM=="block", KERNEL=="dm-*", \
    ENV{DM_NAME}=="VentoyPart", \
    ENV{DM_UDEV_DISABLE_SUBSYSTEM_RULES_FLAG}="", \
    ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="", \
    ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="", \
    ENV{ID_FS_LABEL}="VentoyPart", \
    ENV{ID_FS_LABEL_ENC}="VentoyPart", \
    ENV{UDISKS_FILESYSTEM_LABEL}="VentoyPart", \
    ENV{UDISKS_PRESENTATION_NAME}="VentoyPart", \
    ENV{UDISKS_SYSTEM}="0", \
    ENV{UDISKS_REMOVABLE}="1", \
    ENV{UDISKS_AUTO}="1", \
    ENV{UDISKS_AUTOMOUNTABLE}="1"


ACTION=="change", SUBSYSTEM=="block", KERNEL=="dm-*", \
    ENV{DM_NAME}=="VentoyPart", \
    ENV{DM_UDEV_DISABLE_SUBSYSTEM_RULES_FLAG}="", \
    ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="", \
    ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="", \
    ENV{ID_FS_LABEL}="VentoyPart", \
    ENV{ID_FS_LABEL_ENC}="VentoyPart", \
    ENV{UDISKS_FILESYSTEM_LABEL}="VentoyPart", \
    ENV{UDISKS_PRESENTATION_NAME}="VentoyPart", \
    ENV{UDISKS_SYSTEM}="0", \
    ENV{UDISKS_REMOVABLE}="1", \
    ENV{UDISKS_AUTO}="1", \
    ENV{UDISKS_AUTOMOUNTABLE}="1"

