
ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="DMXXX", \
    ENV{DM_UDEV_DISABLE_SUBSYSTEM_RULES_FLAG}="", \
    ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="", \
    ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="", \
    ENV{UDISKS_SYSTEM}="0", \
    ENV{UDISKS_REMOVABLE}="1", \
    ENV{UDISKS_AUTO}="1", \
    ENV{UDISKS_AUTOMOUNTABLE}="1"


KERNEL=="yyy", SUBSYSTEM=="block", ENV{UDISKS_IGNORE}="1"
