#DANISH
#clear all settings
setkey -r
#setkey [new character] [QWERTY-USA character]
setkey plus minus
setkey quote equal
setkey doublequote bracketright
setkey quote backslash
setkey minus slash

#shifted
setkey doublequote at
setkey ampersand caret
setkey slash ampersand
setkey parenleft asterisk
setkey parenright parenleft
setkey equal parenright
setkey question underscore
setkey caret braceright
setkey asterisk bar
setkey backquote plus
setkey semicolon less
setkey colon greater
setkey underscore question

#use top-left key for oem102 codes
setkey bar Atilde
setkey backslash Abackquote
setkey greater tilde

#AltGr
setkey at A2
setkey dollar A4
setkey braceleft A7
setkey bracketleft A8
setkey bracketright A9
setkey braceright A0
setkey backslash Aminus

setkey less quote
setkey greater doublequote
setkey tilde Abracketright

setkey -e
if [ "${quiet}" = "" ]; then
	echo "DANISH KBD    a=<  A=>"
	sleep 2
fi 

#key names
#escape, exclam (!), at (@), numbersign (#), dollar ($), parenright ()), caret (^), ampersand (&), asterisk (*), plus (+), percent (%)
#minus (-), underscore (_), equal (=), parenleft [(], backspace (backspace), tab (Tab), bracketleft ([), braceleft ({), bracketright (])
#braceright (}), enter (carriage return), semicolon (;), colon (:), quote (') , doublequote ("), slash (/), backquote (`), tilde (~)
#backslash (\), bar (|), comma (,), less (<) period (.) , greater (>), question (?)
#space, home, uparrow, pageup, leftarrow, center, rightarrow, end, downarrow, pagedown, insert, delete, F1-F12, shiftF1-shiftF12, ctrlF1-ctrlF12
#Use prefix A for Alt+, e.g. Aequal, Aq, Aslash, A0, etc. 