#QWERTY TURKISH
#clear all settings
setkey -r
#setkey [new character] [QWERTY-USA character]
setkey doublequote backquote
setkey asterisk minus
setkey minus equal
setkey comma backslash
setkey period slash
#shift
setkey quote at
setkey caret numbersign
setkey plus dollar
setkey ampersand caret
setkey slash ampersand
setkey parenleft asterisk
setkey parenright parenleft
setkey equal parenright
setkey question underscore
setkey underscore plus
setkey semicolon bar
setkey colon question
#altgr
setkey less Abackquote
setkey greater A1
setkey numbersign A3
setkey dollar A4
setkey braceleft A7
setkey bracketleft A8
setkey bracketright A9
setkey braceright A0
setkey backslash Aminus
setkey bar Aequal
setkey at Aq
setkey doublequote Abracketleft
setkey tilde Abracketright

setkey -e
if [ "${quiet}" = "" ]; then
	echo TURKISH QWERTY KBD
fi

#key names
#escape, exclam (!), at (@), numbersign (#), dollar ($), parenright ()), caret (^), ampersand (&), asterisk (*), plus (+), percent (%)
#minus (-), underscore (_), equal (=), parenleft [(], backspace (backspace), tab (Tab), bracketleft ([), braceleft ({), bracketright (])
#braceright (}), enter (carriage return), semicolon (;), colon (:), quote (') , doublequote ("), slash (/), backquote (`), tilde (~)
#backslash (\), bar (|), comma (,), less (<) period (.) , greater (>), question (?)
#space, home, uparrow, pageup, leftarrow, center, rightarrow, end, downarrow, pagedown, insert, delete, F1-F12, shiftF1-shiftF12, ctrlF1-ctrlF12
#Use prefix A for Alt+, e.g. Aequal, Aq, Aslash, A0, etc. 