#GERMAN
#clear all settings
setkey -r
#setkey [new character] [QWERTY-USA character]
setkey doublequote at
setkey ampersand caret
setkey slash ampersand
setkey parenleft asterisk
setkey parenright parenleft
setkey equal parenright
setkey question underscore
setkey backslash minus
setkey z y
setkey Z Y
setkey y z
setkey Y Z
setkey plus bracketright
setkey asterisk braceright
setkey semicolon less
setkey colon greater
setkey minus slash
setkey backslash Aminus
setkey underscore question
setkey caret backquote
setkey quote equal
setkey backquote plus
setkey braceright doublequote
setkey bar bracketleft
setkey at braceleft
setkey numbersign backslash
setkey at Aq
setkey less backquote
setkey greater tilde
setkey braceleft A7
setkey bracketleft A8
setkey bracketright A9
setkey braceright A0
setkey tilde Abracketright
setkey backslash Aminus
setkey quote bar
setkey greater semicolon
setkey less colon
setkey bar quote

setkey -e
if [ "${quiet}" = "" ]; then
	echo GERMAN KBD
fi

#key names
#escape, exclam (!), at (@), numbersign (#), dollar ($), parenright ()), caret (^), ampersand (&), asterisk (*), plus (+), percent (%)
#minus (-), underscore (_), equal (=), parenleft [(], backspace (backspace), tab (Tab), bracketleft ([), braceleft ({), bracketright (])
#braceright (}), enter (carriage return), semicolon (;), colon (:), quote (') , doublequote ("), slash (/), backquote (`), tilde (~)
#backslash (\), bar (|), comma (,), less (<) period (.) , greater (>), question (?)
#space, home, uparrow, pageup, leftarrow, center, rightarrow, end, downarrow, pagedown, insert, delete, F1-F12, shiftF1-shiftF12, ctrlF1-ctrlF12
#Use prefix A for Alt+, e.g. Aequal, Aq, Aslash, A0, etc. 