#QWERTZ generic
#clear all settings
setkey -r
#setkey [new character] [QWERTY-USA character]
setkey doublequote at
setkey ampersand percent
setkey slash ampersand

setkey equal parenright
setkey question underscore
setkey backslash minus
setkey z y
setkey Z Y
setkey y z
setkey Y Z
setkey plus bracketright
setkey asterisk braceright
setkey semicolon less
setkey colon greater
setkey minus slash

setkey underscore question
setkey caret backquote

setkey backquote equal
setkey numbersign backslash
setkey parenright parenleft
setkey parenleft asterisk
setkey percent caret 
setkey less numbersign 
setkey greater bar 

setkey -e
if [ "${quiet}" = "" ]; then
	echo QWERTZ KBD
fi 

#key names
#escape, exclam (!), at (@), numbersign (#), dollar ($), parenright ()), caret (^), ampersand (&), asterisk (*), plus (+), percent (%)
#minus (-), underscore (_), equal (=), parenleft [(], backspace (backspace), tab (Tab), bracketleft ([), braceleft ({), bracketright (])
#braceright (}), enter (carriage return), semicolon (;), colon (:), quote (') , doublequote ("), slash (/), backquote (`), tilde (~)
#backslash (\), bar (|), comma (,), less (<) period (.) , greater (>), question (?)
#space, home, uparrow, pageup, leftarrow, center, rightarrow, end, downarrow, pagedown, insert, delete, F1-F12, shiftF1-shiftF12, ctrlF1-ctrlF12
#Use prefix A for Alt+, e.g. Aequal, Aq, Aslash, A0, etc. 