#QWERTZ CZECH
#clear all settings
setkey -r
#setkey [new character] [QWERTY-USA character]
setkey y z 
setkey z y 
setkey Y Z 
setkey Z Y
setkey semicolon backquote
setkey plus 1
setkey equal minus
setkey quote equal
setkey parenright bracketright
setkey doublequote backslash
setkey minus slash
#shift
setkey 1 exclam
setkey 2 at
setkey 3 numbersign
setkey 4 dollar
setkey 5 percent
setkey 6 caret
setkey 7 ampersand
setkey 8 asterisk
setkey 9 parenleft
setkey 0 parenright
setkey percent underscore
setkey slash braceleft
setkey parenleft braceright
setkey doublequote colon
setkey exclam doublequote
setkey quote bar
setkey question less
setkey colon greater
setkey underscore question
#Alt
setkey tilde A1
setkey caret A3
setkey backslash Aq
setkey bar Aw
setkey bracketleft Af
setkey bracketright Ag
setkey dollar Asemicolon
setkey numbersign Ax
setkey ampersand Ac
setkey at Av
setkey braceleft Ab
setkey braceright An
setkey less Acomma
setkey greater Aperiod
setkey asterisk Aslash

setkey -e
if [ "${quiet}" = "" ]; then
	echo CZECH QWERTZ KBD
fi

#key names
#escape, exclam (!), at (@), numbersign (#), dollar ($), parenright ()), caret (^), ampersand (&), asterisk (*), plus (+), percent (%)
#minus (-), underscore (_), equal (=), parenleft [(], backspace (backspace), tab (Tab), bracketleft ([), braceleft ({), bracketright (])
#braceright (}), enter (carriage return), semicolon (;), colon (:), quote (') , doublequote ("), slash (/), backquote (`), tilde (~)
#backslash (\), bar (|), comma (,), less (<) period (.) , greater (>), question (?)
#space, home, uparrow, pageup, leftarrow, center, rightarrow, end, downarrow, pagedown, insert, delete, F1-F12, shiftF1-shiftF12, ctrlF1-ctrlF12
#Use prefix A for Alt+, e.g. Aequal, Aq, Aslash, A0, etc. 