#QWERTZ Hungarian
#clear all settings
setkey -r
#setkey [new character] [QWERTY-USA character]
setkey y z 
setkey z y 
setkey Y Z 
setkey Z Y 
setkey 0 backquote
setkey quote exclam
setkey doublequote at
setkey plus numbersign
setkey exclam dollar
setkey slash caret
setkey equal ampersand
setkey parenleft asterisk 
setkey parenright parenleft
setkey backslash Aq
setkey bar Aw
setkey bracketleft Af 
setkey bracketright Ag
#setkey greater Aoem102 - Aoem102 not supported
#this is a y key in hungarian keyboard
setkey greater Az
setkey numbersign Ax
setkey ampersand Ac
setkey at Av
setkey braceleft Ab 
setkey braceright An
setkey less Am
#use É (USA=:) for $
setkey dollar colon
setkey question less
setkey colon greater
setkey minus slash
setkey underscore question
setkey at doublequote
setkey tilde A1
setkey caret A3
setkey backquote A7

#use  Ö for asterisk
setkey asterisk 0

setkey dollar Asemicolon
setkey semicolon Acomma
setkey greater Aperiod
setkey asterisk Aslash
#semicolon  use é key
#Hun AltGR chars: less greater numbersign ampersand at braceleft braceright semicolon asterisk backslash bar tilde caret quote doublequote bracketleft bracketright

setkey backquote A9
setkey doublequote A0



setkey -e
if [ "${quiet}" = "" ]; then
	echo "QWERTZ_HUN KBD   e ';'"
	sleep 2
fi

#key names
#escape, exclam (!), at (@), numbersign (#), dollar ($), parenright ()), caret (^), ampersand (&), asterisk (*), plus (+), percent (%)
#minus (-), underscore (_), equal (=), parenleft [(], backspace (backspace), tab (Tab), bracketleft ([), braceleft ({), bracketright (])
#braceright (}), enter (carriage return), semicolon (;), colon (:), quote (') , doublequote ("), slash (/), backquote (`), tilde (~)
#backslash (\), bar (|), comma (,), less (<) period (.) , greater (>), question (?)
#space, home, uparrow, pageup, leftarrow, center, rightarrow, end, downarrow, pagedown, insert, delete, F1-F12, shiftF1-shiftF12, ctrlF1-ctrlF12
#Use prefix A for Alt+, e.g. Aequal, Aq, Aslash, A0, etc. 