
set timeout=3
set default=LiveCD

clear

menuentry 'Ventoy xxx LiveCD GUI' --id=LiveCD {
    echo downloading kernel ...
    linux  /EFI/boot/vmlinuz quiet first_run rdinit=/VTOY/init
    
    echo downloading initrd ...
    initrd /EFI/boot/initrd
    
    echo booting LiveCD ...
    boot
}

menuentry 'Ventoy xxx LiveCD GUI (Debug Mode)' { 
    echo downloading kernel ...
    linux  /EFI/boot/vmlinuz debug loglevel=7 first_run rdinit=/VTOY/init
    
    echo downloading initrd ...
    initrd /EFI/boot/initrd
    
    echo booting LiveCD ...
    boot
}
